@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  /************* Colors *************/
  --color-darkBlue: hsl(213, 19%, 18%);
  --color-lightGrey: hsl(216, 12%, 63%);
  --color-orange: hsl(25, 97%, 53%);
  --color-white: hsl(0, 0%, 100%);
  --color-veryDarkBlue: hsl(218, 11%, 8%);

  --gradient-primary: radial-gradient(
    ellipse at 50% 0%,
    #232a34 0%,
    #232a34 20%,
    #181e27 100%
  );

  /************* Typography *************/
  --fontSize-heading-large: 1.75rem;
  --fontSize-heading-medium: 0.9375rem;
  --fontSize-rating: 1rem;
  --fontSize-body: 0.9375rem;

  --line-height: 1.6; /* 24px */
  --letter-spacing: 2px;

  --font-primary: "Overpass", sans-serif;

  --fontW-400: 400;
  --fontW-700: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
}

body {
  background-color: var(--color-veryDarkBlue);
  width: 100dvw;
  height: 100dvh;
  display: grid;
  place-content: center;
}

main {
  display: grid;
  place-content: center;
}

h1,
h2 {
  font-size: var(--fontSize-heading-large);
  font-weight: var(--fontW-700);
}

p {
  font-size: var(--fontSize-body);
  font-weight: var(--fontW-400);
  color: var(--color-lightGrey);
  line-height: var(--line-height);
}

.card {
  background-color: var(--color-darkBlue);
  background: var(--gradient-primary);
  max-width: 27rem;
  padding: 2rem;
  border-radius: 1.875rem;
}

.star {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--color-darkBlue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 1.875rem;
}

.titleCard {
  color: var(--color-white);
  padding-block-end: 0.4375rem;
}
.pargraphCard {
  padding-block-end: 1.5rem;
}

.point__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-block-end: 2rem;
}

button.rating-option {
  min-width: 3rem;
  min-height: 3rem;
  border-radius: 50%;
  font-weight: var(--fontW-700);
  background-color: var(--color-darkBlue);
  border: none;
  color: var(--color-lightGrey);
  cursor: pointer;
  transition: 300ms all;
}

button.rating-option:where(:hover, :focus-visible),
.rating-option.active:is(:hover, :focus-visible) {
  background-color: var(--color-orange);
  color: var(--color-veryDarkBlue);
}

.rating-option.active {
  background-color: var(--color-lightGrey);
  color: var(--color-veryDarkBlue);
}

.submitBtn {
  width: 100%;
  min-height: 2.8125rem;
  border-radius: 20px;
  border: none;
  background-color: var(--color-orange);
  color: var(--color-veryDarkBlue);
  font-size: var(--fontSize-heading-medium);
  letter-spacing: var(--letter-spacing);
  font-weight: var(--fontW-700);
  text-transform: uppercase;
  cursor: pointer;
  transition: 300ms all;
}

.submitBtn:where(:hover, :focus-visible) {
  background-color: var(--color-white);
}

.thanks {
  display: none;
  padding: 2.125rem 1.5rem;
  flex-direction: column;
  align-items: center;
}

.thanksImg {
  padding-block-end: 1.5rem;
}

.containerBadge {
  padding-block-end: 1.5rem;
  display: flex;
  justify-content: center;
}
.badge {
  color: var(--color-orange);
  width: max-content;
  padding: 0.3rem 0.75rem;
  border-radius: 20px;
  background-color: var(--color-darkBlue);
  font-size: var(--fontSize-rating);
}

.thanks .titleCard {
  font-size: var(--fontSize-heading-large);
  padding-block-end: 1.25rem;
}
.thanks p {
  text-align: center;
  padding-block-end: 0;
}

.attribution {
  text-align: center;
  line-height: 1.1;
}

.attribution,
.attribution a {
  color: var(--color-darkBlue);
  transition: 300ms all;
}
.attribution a:where(:hover, :focus-visible) {
  color: var(--color-orange);
}

@media screen and (width < 768px) {
    main{
        padding-inline: 1.5rem;
    }
  .card {
    min-width: 20.4375rem;
    padding: 1.5rem 1.5rem 2rem;
  }
  .star{
    width: 2.5rem;
    height: 2.5rem;
    padding-block-end: 1rem;
  }
  .titleCard{
    padding-block-end: .625rem;
  }
  .point__container{
    padding-block-end: 1.5rem;
  }
  button.rating-option{
    min-width: 2.625rem;
    min-height: 2.625rem;
  }

  .thanks{
    padding: 2.125rem 1.5rem
  }
  .attribution {
    padding: 0 2rem;
  }
}
